*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    color:#333;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 64px;
    background: #e6f4ff;
}

.logo{
    display:flex;
    align-items: center;
    gap:10px;
}

.logo img{
    width: 70pxpx;
    height: 50px;
    padding-left: 0px;
}

.navbar a{
    margin-left: 25px;
    text-decoration: none;
    color:#1f1f1f;
    font-weight: 450;
    font-size: 18px;
}

.nav-btn{
   background-color: #4d93da;
   padding: 8px 18px;
   border-radius: 25px;
   color: white !important;
}

.main{
    display: flex;
    align-items: center;
    padding: 80px 60px;
    background: #ffffff;
}

.main-text{
    width: 50%;
}

.main-text h1{
    font-size: 48px;
    margin-bottom: 18px;
    font-weight: 650;
}

.main-text p{
    margin-bottom: 26px;
    line-height: 1.8;
    font-size: 18px;
}

.main-image{
    width:50%;
    text-align: center;
}

.main-image img{
    width: 480px;
    height: 450px;
    border-radius: 30%;
}

.btn{
    display: inline-block;
    background:#4a95df ;
    color: white;
    padding: 12px 28px;
    border-radius: 26px;
    text-decoration: none;
    transition: 0.4s;
}

.btn:hover{
    background: #68adf1;
    transform: translateY(-4px);
}

.white{
    background: white;
    color:#3e99f5;
    margin-top: 10px;
    font-weight: 500;
}

.white:hover{
    background: #daebfa;
}

.features{
    padding: 70px 60px;
    background: #e6f4ff;
    text-align: center;
}

.features h2{
    font-size:32px;
    margin-bottom: 40px;
}

.features-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:25px;
}

.feature-card{
    background: white;
    padding: 25px;
    border-radius: 15px;
    transition: 0.4s;
    border: 2px solid transparent;
}

.feature-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(64, 142, 220, 0.3);
    border-color: #5eacfa;
}


.specs{
    padding: 70px 60px;
    text-align: center;
}

.spec-grid{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap:20px;
    margin-top: 32px;
}

.spec-card{
    background: #efefef;
    padding: 30px;
    border-radius: 14px;
}

.benefits{
    padding: 70px 60px;
    background-color: #e6f4ff;
}

.benefits h2{
    text-align: center;
    margin-bottom: 45px;
    font-size: 30px;
}

.benefits-grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:25px;
}

.benefit-card{
    background: white;
    padding: 25px;
    border-radius: 14px;
}

.buy{
    background-color: #73aae0;
    color: white;
    text-align: center;
    padding: 70px 60px;
    font-size: 17px;
    position: relative;
    overflow: hidden;
}

.logo1{
    position: absolute;
    right: 80px;
    top: 50%;
    transform: translateY(-50%);
}

.logo1 img{
    width: 130px;
    height: 100px;
    opacity: 0.95;
}

footer{
    background: #222;
    color: white;
    text-align: center;
    padding: 18px;
}
